<p>
<strong>Title:</strong>
<%= @product.title %>
</p>
<p>
<strong>Price:</strong>
<%= @product.price %>  
</p>
<p>
<strong>description:</strong>
<%= @product.description %>
</p>
<p>
<strong>image_url:</strong>
<%= @product.image_url %>  
</p>  
<p>
<strong>quantity:</strong>
<%= @product.quantity %>  
</p>
<p>

<%= link_to 'Back', products_path %>